

<nav class="navbar">
  <div class="logo">
    <img src="../../../../favicon.ico" alt="logo_ang">
  </div>
  <div>
    <ul class="navbar-nav">
      <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="nav-item"
      routerLink="credits">
        Crear Creditos
      </li>
      <li routerLinkActive="active"
      class="nav-item"
      routerLink="visualize">
        Visualizar Creditos
      </li>
      <li routerLinkActive="active"
      class="nav-item"
      routerLink="edit">
        Editar Creditos
      </li>
    </ul>
  </div>
</nav>
