.form{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  border-radius: 10px;
  margin-left: 8%;
  margin-right: 8%;
  font-size: medium;

}

.form-row{
  padding: 1%;
  margin-top: 1%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 1.5rem;
}
.from-label{
  width: 40px;
}

.form-group{
  margin-top: 2%;
}

.form-input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}
.btn{
  margin-left: 10px;
  color: white;
  background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}
