.table{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: medium;
  width: 80%;
  font-size: 1.2rem;
}

.table-td{
  text-align: center;

}

.btn{
  margin-top: 2%;
  margin-left: 8%;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}
