
<button routerLinkActive="active"
        routerLink="credits"
        type="submit" class="btn">Crear Credito
</button>

<table class="table">
  <thead class="table-thead">
    <tr class="table-tr">
      <th class="table-th">Identificacdor</th>
      <th class="table-th">Nombres</th>
      <th class="table-th">Valor</th>
      <th class="table-th">Opciones</th>
    </tr>
  </thead>
  <tbody class="table-tbody">
    <tr class="table-tr">
      <td class="table-td">1234</td>
      <td class="table-td">victor</td>
      <td class="table-td">1234</td>
      <td class="table-td">Editar</td>
    </tr>
  </tbody>
</table>
